.filmBlock {
  display: flex;
  padding: 2%;
}
.page-title {
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 8%;
}
.filmBlock a {
  margin: 1rem;
}
.allfilmBlock {
  align-items: flex-start !important;
  padding: 2%;
  display: inline;
}
mat-grid-tile {
  overflow: visible;
  overflow-wrap: break-word;
}

.detailsDiv,
.filmsData {
  display: flex;
  justify-content: space-around;
}
