<div class="divFilms">
  <h1 class="page-title">Filme</h1>
  <div class="filmCards">
    <mat-card class="film-card" *ngFor="let film of listFilms">
      <img
        mat-card-image
        src="{{ film.imageUrl }}"
        alt="Photo of Film"
        class="img-fluid"
      />
      <mat-card-header>
        <mat-card-title
          ><strong>{{ film.title }}</strong></mat-card-title
        >
        <mat-card-subtitle
          >Director:<span>{{ film.director }}</span></mat-card-subtitle
        >
        <mat-card-subtitle
          >Produzenten:<span>{{ film.producer }}</span></mat-card-subtitle
        >
        <mat-card-subtitle
          >Erscheinungsdatum:<span>{{
            film.release_date
          }}</span></mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-body></mat-card-body>
      <mat-card-actions>
        <a mat-button (click)="filmDetails(film)">Mehr Informationen</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
