<div class="divFilms">
  <h1 class="page-title">Filme</h1>
  <div>
    <mat-card class="film-card" *ngFor="let film of listFilms">
      <img
        mat-card-image
        src="{{ film.imageUrl }}"
        alt="Photo of Film"
        class="img-fluid"
      />
      <mat-card-header>
        <mat-card-title>{{ film.title }}</mat-card-title>
        <mat-card-subtitle>Director:{{ film.director }}</mat-card-subtitle>
        <mat-card-subtitle>Produzenten:{{ film.producer }}</mat-card-subtitle>
        <mat-card-subtitle
          >Erscheinungsdatum:{{ film.release_date }}</mat-card-subtitle
        >
      </mat-card-header>

      <mat-card-actions>
        <a mat-button (click)="filmDetails(film)">Mehr Informationen</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
