<div class="container">
  <mat-toolbar>
    <mat-toolbar-row class="navbar">
      <span
        ><a mat-button routerLink="/">
          <img src="../assets/images/Star-Wars-Logo.png" class="themelogo" /></a
      ></span>
      <span><a mat-button routerLink="/films"> Filme </a></span>
      <span><a mat-button routerLink="/characters"> Charaktere </a></span>
      <span><a mat-button routerLink="/home"> Home </a></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
