.navbar {
  justify-content: flex-start;
  padding: 2%;
  background-color: white;
  padding-right: 10%;
  padding-left: 10%;
}
.divContent {
  padding: 2%;
  padding-right: 10%;
  padding-left: 10%;
  justify-content: center;
}

span {
  padding-right: 1rem;
}

.themelogo {
  max-width: 80%;
}
