/* You can add global styles to this file, and also import other style file*/
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: "myriad-pro", "Roboto", sans-serif;
}

/*.mat-button:hover {
  background-color: white !important;
  text-decoration: underline;
}*/
